# [heater_bed]
# heater_pin:                       # Управляющий пин SSR-DA
# sensor_type: NTC 100K beta 3950   # Уточнить модель
# sensor_pin:
# min_temp: 0
# max_temp: 130
# control: pid
# max_power: 0.8                    # Ограничение мощности для AC стола
# pid_Kp:
# pid_Ki:
# pid_Kd:
